# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
bld
build
dbg
debug
debug_bld
dbg_bld

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo

# Logs
*.log
*.log.*

# IDE specific files
*.user
*.sln
*.suo

# vs code IDE files
.vscode/
.vscode-test/


# CMake files
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
